@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 93%;
  margin: 30px auto;
  overflow: auto;
  min-height: 400px;
  border: 1px solid rgb(174, 174, 174);
  padding: 30px;
  border-radius: 5px;
}

.container-surveylist {
  max-width: 93%;
  margin: 30px auto;
  overflow: auto;
  min-height: 400px;
  border: 1px solid rgb(174, 174, 174);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}


.container button {
  display: inline-block;

}


.header {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-delete {
  display: inline-block;
  background: #E34234;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-preview {
  display: inline-block;
  background: #dab204;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-add {
  display: inline-block;
  background: #179f37;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-back {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #fff;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #696969;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}


.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.element {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.element.reminder {
  border-left: 5px solid green;
}

.element h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

#idFormMultipleChoice.add-form {
  margin-bottom: 40px;
  display: inline-flex;
  flex-direction: column;
} 

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.horizontal-navbar {
  vertical-align: middle;
  width: 100%;
}

.horizontal-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(26, 26, 26);
}

.horizontal-navbar li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;

}

.horizontal-navbar li a {
  display: block;
  color: rgb(213, 213, 213);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.horizontal-navbar li a:hover {
  background-color: rgb(74, 74, 74);
}

.radio-button {
  margin: 5px;
  padding: 3px 7px;

}

.radio-button label {
  display: block;

}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.flexbox-container-btn-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.flexbox-container-multiple-choice {
  display: inline-flex;
  flex-direction: column;

}

.form-element {
  padding: 10px;
}

.flexbox-container-img-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input[type="text"],
input[type="password"] {
  padding-left: 15px;
  height: 25px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input[type="email"] {
  padding-left: 15px;
  height: 25px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.login-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.buttonLog {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #4daf52;
  border: 1px solid #009b15;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.signupBtn {
  border: #009b15;
  border-width: 10px;
}

.buttonLog:hover {
  background: #000;
  color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.img {
  max-width: 50%;
  height: auto;
}

 

.register-btn-flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.chart {
  width : 30%;
}